.header__logo {
  font-style: normal;
  font-weight: 600;
  font-variant: all-small-caps;
  border: none;
  background-color: transparent;
  text-decoration: none;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 109px;
  font-size: 30px;
  line-height: 24px; /* 85.714% */
  letter-spacing: 2.5px;
  margin: 0;
  padding: 0;
  color: #FFF;
}
