.product__list {
  margin: 0;
  padding: 20px 0 32px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 1024px) {
  .product__list {
    padding: 18px 16px 22px 0;
  }
}

@media screen and (max-width: 400px) {
  .product__list {
    padding: 20px 0 7px 0;
  }
}
