.items {
  width: 100px;
  height: 44px;
  background-color: #FFF;
  border: none;
  border-radius: 8px;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
}


.items__control {
  display: flex;
  width: 24px;
  padding: 2px 7px 6px 8px;
  justify-content: center;
  align-items: center;

  height: 32px;
  width: 24px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.items__control:hover {
  background-color: #f1f1f5;
  transition: background-color .3s ease 0s;
  cursor: pointer;
  height: 16px;
  width: 9px;
  border-radius: 10px;
}

.items__control_minus {
  display: flex;
  width: 9px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  /* Сайт/Lead */
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: -0.2px;
  font-size: 32px;
  padding-bottom: 10px;
}


.items__current {
  display: flex;
  width: 44px;
  height: 23px;
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  /* Сайт/Текст */
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

}

.items__control_plus {
  display: flex;
  width: 9px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  padding-bottom: 10px;
  /* Сайт/Lead */
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: -0.2px;
}

.item__accessible {
  color: #FF3B30;
  /* Сайт/Caption */
  font-family: "Segoe UI";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  margin-top: 8px;
}

.item__icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  column-gap: 16px;
}

.item__icon {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.item__icon_type_favorite {
  -webkit-mask-image: url('../../images/like.svg');
  mask-image: url('../../images/like.svg');
}

.item__icon_type_favorite:hover {
  background-color: #CB11AB;
}

.item__icon_type_delete {
  -webkit-mask-image: url('../../images/trash-icon.svg');
  mask-image: url('../../images/trash-icon.svg');
}

.item__icon_type_delete:hover {
  background-color: #CB11AB;
}



